@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
    




    body {
        font-family: 'overpass', sans-serif;
        color:hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        background-color: hsl(216, 12%, 8%);
        align-items: center;
    }
    
    h1 {
        margin-bottom: 10px;
    }

    .thank-you > h1 {
        text-align: center;
    }

    img {
        width: 20px;
        padding: 15px;
        background-color: hsl(213, 19%, 18%);
        border-radius: 100px;
    }

    .thank-you > img {
        display: block;
        width: 170px;
        border-radius: 0;
        background: none;
        margin: auto;
        margin-bottom: 20px;
    }

    .thank-you > p {
        text-align: center;
        color: hsl(216, 12%, 54%);
    }

    #thankyou-para {
        margin: auto;
        text-align: center;
        background-color: hsl(213, 19%, 18%);
        color: hsl(25, 97%, 53%);
        border-radius: 100px;
        font-size: 15px;
        font-weight: 400px;
        display: block;
        width: 50%;
        margin-bottom: 30px;
        padding: 10px;
    }

    .description {
        color: hsl(216, 12%, 54%);
        font-size: 15px;
        margin-bottom: 20px;
    }

    .container {
        display: block;
        flex-wrap: wrap;
        margin-top: 200px;
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,45,55,0.9556197478991597) 0%, rgba(18,20,23,1) 100%);
        max-width: 350px;
        padding: 40px 60px;
        border-radius: 30px;
        margin-bottom: 270px;
    }
    
    .rating {
        width: 90%;
    }
    
    .buttons{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    
    button{
        font-size: 15px;
        color: hsl(0, 0%, 100%);
        text-align: center;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50px;
        list-style-type: none;
        background-color: hsl(213, 19%, 18%);
        transition: .3s ease;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.2);
        background-color: hsl(216, 12%, 54%);
    }

    button:active {
        background-color: hsl(25, 97%, 53%);
    }

    footer {
        margin-top: auto;
    }
    
    .thank-you {
        display: none;
    }
    
    #submit {
        border: none;
        font-size: 15px;
        letter-spacing: 2px;
        background-color: hsl(25, 97%, 53%);
        margin-top: 30px;
        width: 100%;
        border-radius: 100px;
        height: 40px;
        cursor: pointer;
    }

    #submit:hover {
        transform: scale(1.1);
        background-color: hsl(0, 0%, 100%);
        color: hsl(25, 97%, 53%);
    }